$darkBlue :  #0A1228;
$mediumBlue :#10182D;
$ligthBlue :#0AC2F3;
$green : #187142;
$pink : #e94560;

.card-detail {
    height: 600px;
    width: 1200px; 
    position:fixed;
    z-index: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .gradient {
        background: linear-gradient(90deg, rgba(0,0,0,0.5326505602240896) 0%, rgba(2,2,2,0.5942752100840336) 35%, rgba(4,4,4,0.8127626050420168) 69%, rgba(4,4,4,0.8995973389355743) 100%);        width: 100%;
        height: 100%;
        .icon-movie-card-detail {
            position: absolute;
            right: 20px;
            top: 20px;
            z-index: 100;
        }
        .movie-detail-container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            img {
                height: 400px;
             }
            .card-detail-text-wrapper {
                padding: 20px;
                width: 600px;
                z-index: 50;
                background-color: rgba(0, 0, 0, 0.5);
                .title-and-note {
                    display: flex;
                    justify-content: space-between;
                }
                .movie-description {
                    margin-top: 50px;
                }
            }
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .card-detail {
        .gradient {
            .movie-detail-container {
                img {
                   display: none;
                 }
                .card-detail-text-wrapper {
                    width: 300px;
                }
            }
        }
    }
    }
  