$darkBlue :  #0A1228;
$mediumBlue :#10182D;
$ligthBlue :#0AC2F3;
$green : #187142;
$pink : #e94560;

.react-multi-carousel-list {
    padding: 40px ; 

}
.react-multiple-carousel__arrow {
    z-index: 1 !important;
}

.react-multi-carousel-track {
    height: 240px;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    .react-multi-carousel-list {
        padding: 20px 0 0 0 ; 
    
    }
    .react-multiple-carousel__arrow {
        display: none;
    }
  }