$darkBlue :  #0A1228;
$mediumBlue :#10182D;
$ligthBlue :#0AC2F3;
$green : #187142;
$pink : #e94560;
.content {
    width: 100%;
    position: relative;
}
.see-all {
    position: absolute;
    right: 40px;
    bottom: 15px;
    color: $pink;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    &:hover {
      border-bottom: 1px solid $pink;
    }
}
@media screen and (min-width: 0px) and (max-width: 700px) {
  .see-all {
    right: 15px;
    bottom: -25px;
  }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
    .see-all {
      right: 20px;
      bottom: 10px;
    }
  }