.load-more-btn {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.load-more-btn { 

    button {
        border: none;
        border-top: 2px solid rgba(255, 255, 255, 0.349);
        border-bottom: 2px solid rgba(255, 255, 255, 0.281);
        font-size: 34px;
        font-weight: 200;
        line-height: 44px;
        letter-spacing: 2px;
        background: transparent;
        transition: .4s cubic-bezier(.54,.07,.34,.98);
        color:#e94560;
        cursor: pointer;
        &:hover {
            letter-spacing: 10px;
        }
        
        &:focus {
            outline: none;
        }
    }
}