.main {
    width: calc(100% - 165px);
    background-color: var(--color-dark);
    position: relative;
    margin-left: 165px;

    .hamburger-icon {
        display: none;
    }

    .logo {
        cursor: pointer;
        display: none;
        color: var(--color-primary);
    }

    .section-title-wrapper {
        .main-section-title {
            margin-top: 20px;
            margin-left: 40px;
            padding-left: 10px;
            border-left: 3px solid var(--color-primary);
        }
    }
}


@media screen and (min-width: 0px) and (max-width: 1030px) {
    .main {
        overflow: hidden;
        width: 100%;
        padding: 0 0 120px 0;
        margin-left: 0;

        .hamburger-icon {
            display: block;
            position: absolute;
            right: 20px;
            top: 18px;
            z-index: 50000;
        }

        .logo {
            display: block;
            position: absolute;
            left: 10px;
            top: 5px;
            z-index: 50000;
            width: 150px;
        }
    }

    .main-section-title {
        padding-left: 23px;
    }

    .logo h1 {
        color: var(--color-primary);
        font-size: 30px;
    }
}