$darkBlue :  #0A1228;
$mediumBlue :#10182D;
$ligthBlue :#0AC2F3;
$green : #187142;
$pink : #e94560;
.main {
    width:calc(100vw - 200px);
    background-color: $mediumBlue ;
    position: relative;
    margin-left: 200px;
    .hamburger-icon {
        display: none;
    }
    .logo {
        cursor: pointer;
        display: none;
    }
    .section-title-wrapper {
        .main-section-title {
            margin-top: 20px;
            margin-left: 40px;
            padding-left: 10px;
            border-left: 3px solid $ligthBlue;
        }
    }
}


@media screen and (min-width: 0px) and (max-width: 1030px) {
    .main {
        overflow: hidden;
        width: 100%;
        padding: 0 0 120px 0;
        margin-left: 0;
        .hamburger-icon {
            display: block;
            position: absolute;
            right: 10px;
            top: 18px;
            height: 25px;
            width: 25px;
            z-index: 500;
        }
        .logo {
            display: block;
            position: absolute;
            left: 10px;
            top: 5px;
            width: 150px;
        }
    }
    .main-section-title {
        padding-left: 23px;
    }
    .logo h1{
        color:$ligthBlue;
    }
  }

