.react-multi-carousel-item  {
    height: 300px;
    width: 250px !important;
    padding-right: 15px;
    border-radius: 5px;
}

.title {
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    padding: 5px;
}
.title * {
    display: flex;
    justify-content: center;
}
.title h3 {
    font-size: 15px;
    
}
.title p {
    font-size: 12px;
    font-weight: 300;
}

.card-container {
    background-size: cover;
    background-position: top;

}