$darkBlue :  #0A1228;
$mediumBlue :#10182D;
$ligthBlue :#0AC2F3;
$green : #187142;
$pink : #e94560;

.page-number {
    width: 100%;
    text-align: center;
    height: 40px;
    span {
        padding: 3px 5px;
        margin: 5px;
        border-radius: 4px;
        cursor: pointer;
    }
}
