$darkBlue :  #0A1228;
$mediumBlue :#10182D;
$ligthBlue :#0AC2F3;
$green : #187142;
$pink : #e94560;

.search {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.158);
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 40px 40px 0 40px;
    h2{
        color:$ligthBlue;
        display: flex;
        align-items: flex-end;
        flex-grow: 2;
        padding: 7px;
    }
    p {
        color:$ligthBlue;
        height: 100%;
        display: flex;
        align-items: flex-end;
        padding: 7px;

    }
    .wrapper-search {
        width: 500px;
        .icon {
            position: absolute;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            border: none;    
            height: 100%;
            cursor: pointer;
            svg {
            color:$pink;
            }
        }
        .search-input {
            font-size: 18px;
            border: none;
            border-radius: 40px;
            height: 50px;
            width: 50px;
            background: transparent;
            padding-left: 50px;
            transition: all .2s cubic-bezier(.25,.75,.5,1.25) ;
            &:focus {
                outline: none;
                
            }
        }
    }
}


@media screen and (min-width: 300px) and (max-width: 768px) {
    .search {
        margin-top: 75px;
        width: 330px;
        padding-left: 22px;
        .wrapper-search {
        width: 330px;
        .search-input {
            width: 330px;
            
        }
        
    }
  }
}