@import "../global";

.search {
    @include flex-ai-center(space-between);
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    height: 60px;
    padding-left: 40px;
    background-color: var(--color-medium-dark);

    p {
        color: var(--color-pink);
        height: 100%;
        padding: 7px;
        padding-right: 47px;
        @include flex-ai-center(unset);
        font-size: 11px;
    }

    .wrapper-search {
        width: 500px;

        .icon {
            @include flex-center;
            position: absolute;
            height: 35px;
            width: 50px;
            border: none;
            cursor: pointer;
            left: 39px;

            svg {
                color: var(--color-light);
            }
        }

        .search-input {
            font-size: 18px;
            border: none;
            height: 35px;
            color: white;
            background: rgb(73, 70, 82);
            border-radius: 2px;
            padding-left: 45px;
            width: 100%;
            font-size: 13px;
            transition: all .2s cubic-bezier(.25, .75, .5, 1.25);

            &:focus {
                outline: none;
            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 1030px) {
    .search {
        margin-top: 80px;
        padding: 15px;

        h2 {
            position: absolute;
            top: -28px;
            right: 50%;
            left: 40%;
            padding: 0;
            width: 100%;
        }

        p {
            display: none;
        }

        .wrapper-search {
            width: 100% !important;

            .icon {
                height: 56px;
                left: 10px;
            }

            .search-input {
                height: 56px;
                width: 100%;
            }
        }
    }
}