.search {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding-left: 45px;
    z-index: 500;
    background-color: var(--color-medium-dark);
    p {
        color:var(--color-pink);
        height: 100%;
        padding: 7px;
        padding-right: 47px;
        display: flex;
        align-items: center;
    }
    .wrapper-search {
        .icon {
            position: absolute;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            border: none;    
            cursor: pointer;
            left: 39px;
            svg {
            color:var(--color-light);
            }
        }
        .search-input {
        

            font-size: 18px;
            border: none;
            height: 37px;
            width: 526px;
            color: white;
            background: rgb(73, 70, 82);
            border-radius: 2px;
            padding-left: 45px;
            transition: all .2s cubic-bezier(.25,.75,.5,1.25) ;
            &:focus {
                outline: none;
                
            }
        }
    }
}
@media screen and (min-width: 0px) and (max-width: 1030px) {
    .search {
        margin-top: 80px;
        h2 {
            position: absolute;
            top: -28px;
            right: 50%;
            left: 40%;
            padding: 0;
            width: 100%;
        }
        p {
            display: none;
        }
        .wrapper-search {
            width: 300px !important;
        }
    }  
}