@import "../global";

.main-title {
    margin: 0px 0 0 40px;
    border-left: 4px solid var(--color-pink);
    font-size: 13px;
    padding-left: 4px;
    font-weight: 400;
    margin-right: 20px;
}

.title-wrapper {
    @include flex-ai-center(unset);
    height: 25px;

    .see-all {
        cursor: pointer;
        font-size: 12px;
        font-weight: 300;
        @include flex-ai-center(unset);
        color: var(--color-primary);
        animation: fadeInTitle 1s forwards;
        opacity: 0;
    }
}

@keyframes fadeInTitle {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    .main-title {
        margin: 0px 20px 0 0;
        position: relative;
    }
}