.main-title {
    margin: 0px 0 0 40px;
    border-left: 4px solid var(--color-pink);
    position: absolute;
    top: -12px;
    font-size: 13px;
    padding-left: 4px;
    font-weight: 400;
}
@media screen and (min-width: 0px) and (max-width: 600px) {
    .main-title {
        margin:30px 0 0 0;
        position: relative;
    }
}