@import './assets/stylesheet/Header.scss';
@import './assets/stylesheet/sidebar/SideBar.scss';
@import './assets/stylesheet/main/Main.scss';
@import "./assets/stylesheet/main/Search.scss";
@import './assets/stylesheet/main/Content.scss';
@import './assets/stylesheet/main/MovieCard.scss';
@import './assets/stylesheet/main/SectionTtile.scss';
@import './assets/stylesheet/main/Carusel.scss';
@import './assets/stylesheet/main/CardDetail.scss';
@import './assets/stylesheet/main/searchResult.scss';
@import './assets/stylesheet/main/PageNumber.scss';
@import "./assets/stylesheet/sidebar/SortByNav.scss";
@import "./assets/stylesheet/main/YoutubePlayer.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --color-dark:#181b21;
    --color-medium-dark:#212630;
    --color-light:white;
    --color-pink: rgb(0, 252, 218) ;
}
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
     margin: 0;
     box-sizing: border-box;
     list-style-type: none;
     text-decoration: none;
     color: var(--color-light);
     letter-spacing: 2px;
}
a {
    text-decoration: none;
}
.app {
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body {
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        width: 0px; 
    }
}