.Btn-add-to-playlist{
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: $green 3px solid ;
    border-radius: 3px;
    background-color: $darkBlue;
    color: $pink;
    & p {
        color: $green;
        font-weight: 800;
        font-size: 14px;
    }
}