$darkBlue :  #0A1228;
$mediumBlue :#10182D;
$ligthBlue :#0AC2F3;
$green : #187142;
$pink : #e94560;


// Sidebar general styling
.side-bar {
    width: 200px;
    background-color: $darkBlue;
    position: relative;
    z-index: 5;
    padding: 30px;
    .logo {
        border-bottom: 1px solid rgba(255, 255, 255, 0.288);
        h1 {
            padding: 20px 0 10px 0;
            font-size: 25px;
            color:$ligthBlue;
            font-weight: 400;
            cursor: pointer;
        }
    }
    .library {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.171);
        .library-nav {
            li {
                color: $ligthBlue;
                font-weight: 100;
                font-size: 15px;
                cursor: pointer;
                width: 20%;
            }
        }
    }
    .section-title {
        padding: 20px 0 0px 0;
        font-weight: 400;
    }
}
// Category title 
.section-title {
    font-size: 18px;
    margin-bottom: 15px;
    color:$pink;
    font-weight: 400;
}

@media screen and (min-width: 0px) and (max-width: 1030px) {
    .side-bar {
        display: block;
        position: absolute;
        left: -200px;
        height: 100%;
        z-index: 5;
        transition: left 1s ease;
        .logo {
            display: block;
        }
    }
  }

