@import "../global";

.side-bar {
    width: 165px;
    background-color: var(--color-dark);
    position: fixed;
    z-index: 70000;
    padding: 1.5rem;
    padding-top: 4.5rem;
    opacity: 1;
    height: 100vh;
    -webkit-box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.9);

    .logo {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        padding: 1.5rem;
        background: var(--color-medium-light);

        h1 {
            padding: 0px 0 4px 0;
            font-size: 30px;
            color: var(--color-primary);
            cursor: pointer;
            line-height: 15px;
        }
    }

    .library {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.09);

        .library-nav {
            padding-bottom: 15px;

            li {
                color: rgba(253, 253, 253, 0.541);
                font-weight: 200;
                font-size: 11px;
                cursor: pointer;
                transition: all 400ms ease;
                border-radius: 2px;
                letter-spacing: 1px;

                &:hover {
                    color: white;
                }
            }
        }
    }

    .section-title {
        padding: 20px 0 0px 0;
        font-weight: 600;
        font-size: 15px;
    }
}

// Category title 
.section-title {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--color-primary);
    font-weight: 400;
}

@media screen and (min-width: 0px) and (max-width: 1030px) {
    .side-bar {
        position: absolute;
        left: -100vw;
        height: 100vh;
        z-index: 5;
        width: 100vw;
        transition: all 1s ease-in-out;
        opacity: 0;
        flex-direction: column;
        z-index: 20000;
        background-color: rgba(0, 0, 0, 0.829);
        @include flex-center;
        align-items: flex-start;

        .library {
            text-align: center;
            width: 300px;
            display: flex;
            flex-direction: column;
            height: 50vh;
            justify-content: center;
            margin-top: 18px;
            background-color: var(--color-dark);

            .library-nav {
                li {
                    &:hover {
                        color: var(--color-light);
                    }
                }
            }
        }
    }
}