$darkBlue :  #0A1228;
$mediumBlue :#10182D;
$green : #187142;
$pink : #B23456;
$lightGrey: #E4E4E6;


// Sidebar general styling
.side-bar {
    width: 15vw;
    background-color: $darkBlue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    & .logo {
        display: flex;
        margin-bottom: 60px;
        & h2 {
            color:$green;
        }
    }
}
// Category title 
.section-title {
    font-size: 18px;
    margin-bottom: 15px;
    color:$pink;
}

// Spacing between icon and link 
.link {
    margin-left: 20px;
    font-size: 16px;
}