.sort-by {
    .sort-by-nav {
        li {
            color: rgba(253, 253, 253, 0.541);
            font-weight: 200;
            font-size: 11px;
            cursor: pointer;
            transition: all 400ms ease;
            border-radius: 4px;
            letter-spacing: 1px;
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 1030px) {
    .sort-by {
        text-align: center;
        background-color: var(--color-dark);
        width: 300px;
        height: 50vh;
        padding-top: 50px;
    }
}