$darkBlue :  #0A1228;
$mediumBlue :#10182D;
$ligthBlue :#0AC2F3;
$green : #187142;
$pink : #e94560;
.sort-by {
    .sort-by-nav {
        li {
        color:$ligthBlue;
        cursor: pointer;
        font-weight:100 ;
        font-size: 15px;
        margin: 2px 0;
        width: 80%;
        }
    }
}